Repository c2corg/c2c_tracking: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

feat: add Coros vendor
  src/app.ts
  src/config.ts
  src/db/migrations/20230221000000_coros.ts
  src/helpers/i18n/ca.json
  src/helpers/i18n/de.json
  src/helpers/i18n/en.json
  src/helpers/i18n/es.json
  src/helpers/i18n/eu.json
  src/helpers/i18n/fr.json
  src/helpers/i18n/hu.json
  src/helpers/i18n/it.json
  src/helpers/i18n/ru.json
  src/helpers/i18n/sl.json
  src/helpers/i18n/zh_CN.json
  src/helpers/utils.ts
  src/repository/activity.ts
  src/repository/user.repository.ts
  src/repository/user.ts
  src/server/coros/README.md
  src/server/coros/coros.api.ts
  src/server/coros/coros.controller.ts
  src/server/coros/coros.service.ts
  src/server/coros/coros.validators.ts
  src/server/coros/index.ts
  src/user.service.ts
  test/environment/env-vars.mjs
  test/environment/env-vars.s3.mjs
  test/psql/repository/user.repository.spec.ts
  test/unit/server/coros/coros.api.spec.ts
  test/unit/server/coros/coros.controller.spec.ts
  test/unit/server/coros/coros.service.spec.ts
  test/unit/server/polar/polar.api.spec.ts
  test/unit/server/polar/polar.controller.spec.ts
  test/unit/user.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

2.4.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: distance is a float in Coros API but an integer in DB
  src/server/coros/coros.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: correctly compute sport name based on mode and submode
  src/server/coros/coros.api.ts
  test/unit/server/coros/coros.api.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

Update translations from transifex
  src/helpers/i18n/ca.json
  src/helpers/i18n/de.json
  src/helpers/i18n/en.json
  src/helpers/i18n/es.json
  src/helpers/i18n/eu.json
  src/helpers/i18n/fr.json
  src/helpers/i18n/hu.json
  src/helpers/i18n/it.json
  src/helpers/i18n/ru.json
  src/helpers/i18n/sl.json
  src/helpers/i18n/zh_CN.json
Due: prettier --write --ignore-unknown

2.4.1
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

wip
  package.json
  test/environment/init-db.mjs
  tsconfig.eslint.json
Due: prettier --write --ignore-unknown

wip2
  src/db/index.ts
  test/environment/init-db.mjs
  test/s3/storage/storage.spec.ts
  test/unit/server/coros/coros.service.spec.ts
  test/unit/server/suunto/suunto.service.spec.ts
  test/unit/storage/storage.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

chlouk
  src/db/index.ts
  test/s3/storage/storage.spec.ts
  test/unit/server/coros/coros.service.spec.ts
  test/unit/server/suunto/suunto.service.spec.ts
  test/unit/storage/storage.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

xxx
  .eslintrc.cjs
  src/auth/c2c-jwt-extractor.ts
  src/db/migrations/20210506103300_create_schema.mjs
  src/db/migrations/20220802100000_garmin.mjs
  src/db/migrations/20221020000000_decathlon.mjs
  src/db/migrations/20221104000000_activity_details.mjs
  src/db/migrations/20221121000000_polar.mjs
  src/db/migrations/20221122000000_polar_webhook_secret.mjs
  src/db/migrations/20230127000000_miniatures.mjs
  src/db/migrations/20230221000000_coros.mjs
  src/server/strava/strava.service.ts
  src/user.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

yyy
  .eslintrc.cjs
  test/environment/init-db.mjs
Due: none

more import fixes
  src/app.ts
  src/index.ts
  src/repository/activity.repository.ts
  src/repository/polar.repository.ts
  src/repository/strava.repository.ts
  src/repository/user.repository.ts
  src/server/activities/activity.controller.ts
  src/server/activities/activity.service.ts
  src/server/activities/activity.validators.ts
  test/psql/repository/activity.repository.spec.ts
  test/psql/repository/polar.repository.spec.ts
  test/psql/repository/strava.repository.spec.ts
  test/psql/repository/user.repository.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

one more time
  src/app.ts
  src/server/coros/index.ts
  src/server/decathlon/index.ts
  src/server/garmin/index.ts
  src/server/polar/index.ts
  src/server/strava/index.ts
  src/server/suunto/index.ts
  test/unit/auth/index.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

validator import
  src/config.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

glurp
  src/config.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

pouet
  src/health.service.ts
  src/server/coros/coros.service.ts
  src/server/garmin/garmin.api.ts
  src/server/garmin/garmin.service.ts
  src/server/polar/polar.service.ts
  src/server/strava/strava.service.ts
  src/server/suunto/suunto.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

toutouyoutou
  src/repository/activity.ts
  src/server/decathlon/decathlon.api.ts
  src/server/polar/polar.api.ts
  src/server/polar/polar.service.ts
  src/server/strava/strava.api.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

i just can't get enough
  src/helpers/utils.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

forgot one
  src/server/coros/coros.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

json import
  src/helpers/i18n/index.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

polyline import
  src/miniature.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

knex
  src/db/index.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

knex2
  src/db/index.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

one more time
  src/db/index.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

Update translations from transifex
  src/helpers/i18n/en.json
Due: prettier --write --ignore-unknown

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

update & cleanup
  .eslintignore
  .github/workflows/ci.yml
  Dockerfile
  package-lock.json
  package.json
  src/errors.ts
  src/helpers/simplify.ts
  src/miniature.service.ts
  src/repository/activity.repository.ts
  src/server/coros/coros.service.ts
  src/server/decathlon/decathlon.service.ts
  src/server/garmin/garmin.api.ts
  src/server/garmin/garmin.service.ts
  src/server/strava/strava.service.ts
  src/server/suunto/suunto.service.ts
  src/user.service.ts
  test/utils.ts
  tsconfig.json
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

knexe@3.0.1
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

WIP
  .eslintrc.cjs
  Dockerfile
  jest.config.common.mjs
  jest.config.mjs
  jest.config.psql.mjs
  jest.config.s3.mjs
  package-lock.json
  package.json
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write --ignore-unknown

chore(deps-dev): bump @types/supertest from 2.0.16 to 6.0.2
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix --report-unused-disable-directives: any of: *.ts
  prettier --write --ignore-unknown: (any of: *.ts) or (any of: *.{json,md})
