Repository c2corg/c2c_tracking: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.1.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: downgrade to axios 1.1.3
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

1.1.1
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: typo
  src/server/garmin/garmin.api.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

feat: allow to enable SSL for connecting to DB
  src/config.ts
  src/db/index.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.2.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Update translations from transifex
  src/helpers/i18n/it.json
Due: prettier --write --ignore-unknown

chore: add action to ensure PR title matches conventional commits specs
  .github/workflows/semantic-pull-request.yml
Due: none

chorus: add comment on PR title lint error
  .github/workflows/semantic-pull-request.yml
Due: none

chore: add PR coverage comment
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

WIP
  .github/workflows/ci.yml
  jest.config.mjs
Due: none

chore: specify allowed conventional commits types
  .github/workflows/semantic-pull-request.yml
Due: none

chore: automatically add label to PR
  .github/semantic-labels.yml
  .github/workflows/semantic-pull-request.yml
Due: none

chore: fix semantic labels file ref
  .github/workflows/semantic-pull-request.yml
Due: none

chore: fix labels to apply
  .github/semantic-labels.yml
Due: none

feat: use Garmin backfill to retrieve previous activities
  src/server/garmin/garmin.api.ts
  src/server/garmin/garmin.service.ts
  test/unit/server/garmin/garmin.api.spec.ts
  test/unit/server/garmin/garmin.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.3.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: backfill signature
  src/server/garmin/garmin.api.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.3.1
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: typo in Garmin Oauth signature computation
  src/server/garmin/garmin.api.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.3.2
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: allow to configure payload size limit
  src/app.ts
  src/config.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.4.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: allow to disable a feature
  src/app.ts
  src/config.ts
  src/health.service.ts
  src/helpers/enabled-if.ts
  src/user.service.ts
  test/unit/health.service.spec.ts
  test/unit/server/health/health.controller.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

2.0.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

2.0.1
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Update translations from transifex
  src/helpers/i18n/en.json
Due: prettier --write --ignore-unknown

chore: typo
  src/server/garmin/garmin.api.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

test: fix
  test/unit/server/decathlon/decathlon.service.spec.ts
  test/unit/server/strava/strava.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

--detectOpenHandles for debug
  package.json
Due: prettier --write --ignore-unknown

--forceExit
  package.json
Due: prettier --write --ignore-unknown

feat: add latest Strava sport types
  src/helpers/i18n/ca.json
  src/helpers/i18n/de.json
  src/helpers/i18n/en.json
  src/helpers/i18n/es.json
  src/helpers/i18n/eu.json
  src/helpers/i18n/fr.json
  src/helpers/i18n/hu.json
  src/helpers/i18n/it.json
  src/helpers/i18n/ru.json
  src/helpers/i18n/sl.json
  src/helpers/i18n/zh_CN.json
  src/server/strava/strava.api.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

2.0.2
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: always retrieve geometry
  src/server/activities/activity.service.ts
  src/server/decathlon/decathlon.service.ts
  src/server/strava/strava.api.ts
  src/server/strava/strava.service.ts
  src/server/suunto/suunto.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

rename docker-compose database
  docker-compose.yml
Due: none

Path conditions:
  eslint --fix --report-unused-disable-directives: any of: *.ts
  prettier --write --ignore-unknown: (any of: *.ts) or (any of: *.{json,md})
