Repository c2corg/c2c_tracking: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

Use Except instead of Omit to ensure keys are not present
  src/helpers/utils.ts
  src/repository/activity.repository.ts
  src/server/activities/activity.service.ts
  src/server/decathlon/decathlon.service.ts
  src/server/garmin/garmin.service.ts
  src/server/polar/polar.service.ts
  src/server/strava/strava.service.ts
  src/server/suunto/suunto.service.ts
  src/user.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

tests and minor fixes
  src/server/decathlon/decathlon.service.ts
  src/server/strava/strava.service.ts
  src/server/suunto/suunto.service.ts
  src/user.service.ts
  test/environment/env-vars.mjs
  test/resources/mini.fit
  test/resources/piano.png
  test/unit/miniature.service.spec.ts
  test/unit/server/activities/activity.service.spec.ts
  test/unit/server/decathlon/decathlon.service.spec.ts
  test/unit/server/strava/strava.api.spec.ts
  test/unit/server/strava/strava.service.spec.ts
  test/unit/server/suunto/suunto.service.spec.ts
  test/unit/storage/storage.spec.ts
  test/unit/user.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

Generate miniatures
  package-lock.json
  package.json
  src/config.ts
  src/db/migrations/20230127000000_miniatures.ts
  src/helpers/simplify.ts
  src/miniature.service.ts
  src/repository/activity.ts
  src/storage/storage.ts
  src/user.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

minio tests
  .github/workflows/ci.yml
  .gitignore
  docker-compose.minio.yml
  docker-compose.psql.yml
  jest.config.s3.ci.mjs
  jest.config.s3.mjs
  package.json
  src/storage/storage.ts
  test/environment/env-vars.s3.mjs
  test/s3/storage/storage.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

feat: use Except instead of Omit
  src/helpers/utils.ts
  src/repository/activity.repository.ts
  src/server/activities/activity.service.ts
  src/server/decathlon/decathlon.service.ts
  src/server/garmin/garmin.service.ts
  src/server/polar/polar.service.ts
  src/server/strava/strava.service.ts
  src/server/suunto/suunto.service.ts
  src/user.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

chore: rename docker-compose database
  docker-compose.psql.yml
Due: none

chore: typo
  .github/semantic-labels.yml
Due: none

chore: script to migrate
  src/repository/activity.repository.ts
  src/scripts/retrieve-geometries.ts
  src/server/decathlon/decathlon.service.ts
  src/server/strava/strava.service.ts
  src/server/suunto/suunto.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

feat: always retrieve geometry
  src/repository/activity.ts
  src/server/activities/activity.service.ts
  src/server/decathlon/decathlon.service.ts
  src/server/garmin/garmin.service.ts
  src/server/polar/polar.service.ts
  src/server/strava/strava.api.ts
  src/server/strava/strava.service.ts
  src/server/suunto/suunto.service.ts
  src/user.service.ts
  test/resources/mini.fit
  test/unit/server/activities/activity.service.spec.ts
  test/unit/server/decathlon/decathlon.service.spec.ts
  test/unit/server/polar/polar.service.spec.ts
  test/unit/server/strava/strava.api.spec.ts
  test/unit/server/strava/strava.service.spec.ts
  test/unit/server/suunto/suunto.service.spec.ts
  test/unit/user.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

2.1.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: add missing start instruction to script
  src/scripts/retrieve-geometries.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

2.1.1
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: use workout key to retrieve FIT
  src/scripts/retrieve-geometries.ts
  src/server/suunto/suunto.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

2.1.2
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: generate miniatures when activity is inserted in DB
  .github/workflows/ci.yml
  .gitignore
  docker-compose.minio.yml
  jest.config.s3.ci.mjs
  jest.config.s3.mjs
  package-lock.json
  package.json
  src/config.ts
  src/db/migrations/20230127000000_miniatures.ts
  src/helpers/simplify.ts
  src/miniature.service.ts
  src/repository/activity.ts
  src/storage/storage.ts
  src/user.service.ts
  test/environment/env-vars.s3.mjs
  test/resources/piano.png
  test/s3/storage/storage.spec.ts
  test/unit/miniature.service.spec.ts
  test/unit/storage/storage.spec.ts
  test/unit/user.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

Revert "chore: script to migrate"
  src/repository/activity.repository.ts
  src/scripts/retrieve-geometries.ts
  src/server/decathlon/decathlon.service.ts
  src/server/strava/strava.service.ts
  src/server/suunto/suunto.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

chore: add script to generate missing miniatures
  src/repository/activity.repository.ts
  src/scripts/generate-miniatures.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

chore: report s3 tests coverage to codacy
  .github/workflows/ci.yml
Due: none

2.2.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: miniature column mapping is missing
  src/repository/activity.repository.ts
  test/psql/repository/activity.repository.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

2.2.1
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: enhance generate-miniatures-script
  src/scripts/generate-miniatures.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: delete miniatures for all delete action
  src/repository/activity.repository.ts
  src/server/decathlon/decathlon.service.ts
  src/server/garmin/garmin.service.ts
  src/server/polar/polar.service.ts
  src/server/strava/strava.service.ts
  src/server/suunto/suunto.service.ts
  src/user.service.ts
  test/psql/repository/activity.repository.spec.ts
  test/unit/server/decathlon/decathlon.service.spec.ts
  test/unit/server/garmin/garmin.service.spec.ts
  test/unit/server/polar/polar.service.spec.ts
  test/unit/server/strava/strava.service.spec.ts
  test/unit/server/suunto/suunto.service.spec.ts
  test/unit/user.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

2.2.2
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: remove unused eslint-disable directives after eslint security plugin upgrade
  test/s3/storage/storage.spec.ts
  test/unit/server/suunto/suunto.service.spec.ts
  test/unit/storage/storage.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

Revert "chore: add script to generate missing miniatures"
  src/repository/activity.repository.ts
  src/scripts/generate-miniatures.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

chore: add tests for S3 storage
  test/s3/storage/storage.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: polar id is a bigint
  src/repository/user.repository.ts
  src/repository/user.ts
  src/server/polar/polar.api.ts
  test/psql/repository/user.repository.spec.ts
  test/unit/server/polar/polar.api.spec.ts
  test/unit/server/polar/polar.service.spec.ts
  test/unit/user.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

Update translations from transifex
  src/helpers/i18n/fr.json
Due: prettier --write --ignore-unknown

refactor: use `structuredClone` instead of `JSON.parse(JSON.stringify())`
  src/miniature.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: more impact of polar user id being a bigint
  package-lock.json
  package.json
  src/repository/user.repository.ts
  src/server/polar/polar.api.ts
  test/psql/repository/user.repository.spec.ts
  test/unit/server/polar/polar.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

2.2.3
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: add maintenance mode
  package-lock.json
  package.json
  src/index.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

xxx
  src/server/polar/polar.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: extract Polar exercise id from entity_id field
  src/server/polar/polar.api.ts
  src/server/polar/polar.service.ts
  test/unit/server/polar/polar.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: Polar exercise date storage format
  src/server/polar/polar.service.ts
  test/unit/server/polar/polar.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

2.3.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

also label issues
  .github/workflows/issues-labeller.yml
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: drop nodemon dep
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix --report-unused-disable-directives: any of: *.ts
  prettier --write --ignore-unknown: (any of: *.ts) or (any of: *.{json,md})
