Repository c2corg/c2c_tracking: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix --report-unused-disable-directives", "prettier --write --ignore-unknown"],
  "*.{json,md}": ["prettier --write --ignore-unknown"]
}

feat: add a Strava activity backfill script
  package.json
  scripts/backfill-strava-activities.ts
  src/repository/user.repository.ts
  src/server/strava/strava.service.ts
  test/psql/repository/user.repository.spec.ts
  test/unit/server/strava/strava.service.spec.ts
  tsconfig.eslint.json
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: Suunto OAuth codes can exceed 50 characters
  src/server/suunto/suunto.validators.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

feat: extend the activity backfill to Suunto, Decathlon, Coros, Garmin
  package.json
  scripts/backfill-common.ts
  scripts/backfill-coros-activities.ts
  scripts/backfill-decathlon-activities.ts
  scripts/backfill-garmin-activities.ts
  scripts/backfill-strava-activities.ts
  scripts/backfill-suunto-activities.ts
  src/repository/user.repository.ts
  src/server/coros/coros.service.ts
  src/server/decathlon/decathlon.service.ts
  src/server/garmin/garmin.api.ts
  src/server/garmin/garmin.service.ts
  src/server/suunto/suunto.service.ts
  test/unit/server/coros/coros.service.spec.ts
  test/unit/server/decathlon/decathlon.service.spec.ts
  test/unit/server/garmin/garmin.api.spec.ts
  test/unit/server/garmin/garmin.service.spec.ts
  test/unit/server/suunto/suunto.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: minio healthcheck was pointing at the wrong port
  .github/workflows/ci.yml
  docker-compose.minio.yml
Due: none

fix: oauth/revoke is not mirrored under /api/v3/
  src/server/strava/strava.api.ts
  test/unit/server/strava/strava.api.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: DNS resolution flakiness in prod, and let backfill scripts run there
  Dockerfile
  docker-entrypoint.sh
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: override diff to 4.0.4 to resolve a Snyk finding
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown
