Repository c2corg/c2c_tracking: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: copy node_modules files in node_modules directory
  Dockerfile
Due: none

1.0.0-rc.2
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Update translations from transifex
  src/helpers/i18n/ca.json
Due: prettier --write --ignore-unknown

feat!: exchange token doesn't redirect anymore
  src/auth/index.ts
  src/errors.ts
  src/server/decathlon/decathlon.controller.ts
  src/server/decathlon/decathlon.service.ts
  src/server/error-handler.ts
  src/server/garmin/garmin.controller.ts
  src/server/garmin/garmin.service.ts
  src/server/strava/strava.controller.ts
  src/server/strava/strava.service.ts
  src/server/suunto/suunto.controller.ts
  src/server/suunto/suunto.service.ts
  test/unit/auth/index.spec.ts
  test/unit/server/decathlon/decathlon.controller.spec.ts
  test/unit/server/garmin/garmin.controller.spec.ts
  test/unit/server/strava/strava.controller.spec.ts
  test/unit/server/suunto/suunto.controller.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.0.0-rc.3
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: add version information in health endpoint
  src/health.service.ts
  test/unit/health.service.spec.ts
  test/unit/server/health/health.controller.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix!: correctly format translations
  src/server/activities/activity.service.ts
  test/unit/server/activities/activity.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

feat: use strava sport_type instead of deprecated type
  src/helpers/i18n/ca.json
  src/helpers/i18n/de.json
  src/helpers/i18n/en.json
  src/helpers/i18n/es.json
  src/helpers/i18n/eu.json
  src/helpers/i18n/fr.json
  src/helpers/i18n/hu.json
  src/helpers/i18n/it.json
  src/helpers/i18n/ru.json
  src/helpers/i18n/sl.json
  src/helpers/i18n/zh_CN.json
  src/server/strava/strava.api.ts
  src/server/strava/strava.service.ts
  test/unit/server/strava/strava.api.spec.ts
  test/unit/server/strava/strava.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: handle npm version being 'dev' for tests
  src/helpers/utils.ts
  test/unit/health.service.spec.ts
  test/unit/server/health/health.controller.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

feat!: add summary fields length, duration, height diff up
  src/db/migrations/20221104000000_activity_details.ts
  src/repository/activity.repository.ts
  src/repository/activity.ts
  src/server/decathlon/decathlon.api.ts
  src/server/decathlon/decathlon.service.ts
  src/server/garmin/garmin.api.ts
  src/server/garmin/garmin.service.ts
  src/server/strava/strava.api.ts
  src/server/strava/strava.service.ts
  src/server/suunto/suunto.api.ts
  src/server/suunto/suunto.service.ts
  test/unit/server/decathlon/decathlon.api.spec.ts
  test/unit/server/decathlon/decathlon.service.spec.ts
  test/unit/server/garmin/garmin.service.spec.ts
  test/unit/server/strava/strava.api.spec.ts
  test/unit/server/strava/strava.service.spec.ts
  test/unit/server/suunto/suunto.api.spec.ts
  test/unit/server/suunto/suunto.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

feat: include vendorId in activities list
  src/server/activities/activity.service.ts
  test/unit/server/activities/activity.controller.spec.ts
  test/unit/server/activities/activity.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.0.0-rc.4
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: set npm_package_version in image
  .github/workflows/ci.yml
  Dockerfile
Due: none

fix: transaction
  src/repository/activity.repository.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

chore: remove useless debug log
  src/user.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: bad transaction processing
  src/db/index.ts
  src/repository/activity.repository.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: Strava activity stream API request parameters
  src/server/strava/strava.api.ts
  test/unit/server/strava/strava.api.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: Garmin connection process
  src/server/garmin/garmin.controller.ts
  test/unit/server/garmin/garmin.controller.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: add metrics server to graceful shutdown
  src/index.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.0.0-rc.5
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: add more log
  src/helpers/error.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: workout format
  src/server/suunto/suunto.api.ts
  test/unit/server/suunto/suunto.api.spec.ts
  test/unit/server/suunto/suunto.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.0.0-rc.6
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: do not try to parse arraybuffer response with zod
  src/server/suunto/suunto.api.ts
  test/unit/server/suunto/suunto.api.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.0.0-rc.7
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: Garmin activity types
  src/helpers/i18n/ca.json
  src/helpers/i18n/de.json
  src/helpers/i18n/en.json
  src/helpers/i18n/es.json
  src/helpers/i18n/eu.json
  src/helpers/i18n/fr.json
  src/helpers/i18n/hu.json
  src/helpers/i18n/it.json
  src/helpers/i18n/ru.json
  src/helpers/i18n/sl.json
  src/helpers/i18n/zh_CN.json
  src/server/garmin/garmin.api.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: relax constraint on activity types
  src/server/decathlon/decathlon.service.ts
  src/server/garmin/garmin.api.ts
  src/server/strava/strava.api.ts
  src/server/suunto/suunto.service.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.0.0-rc.8
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: filter out /health calls from API call logs
  src/app.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

Update translations from transifex
  src/helpers/i18n/ca.json
  src/helpers/i18n/de.json
  src/helpers/i18n/en.json
  src/helpers/i18n/es.json
  src/helpers/i18n/eu.json
  src/helpers/i18n/fr.json
  src/helpers/i18n/hu.json
  src/helpers/i18n/it.json
  src/helpers/i18n/ru.json
  src/helpers/i18n/sl.json
  src/helpers/i18n/zh_CN.json
Due: prettier --write --ignore-unknown

Update translations from transifex
  src/helpers/i18n/zh_CN.json
Due: prettier --write --ignore-unknown

fix: correctly check Suunto webhook auth
  src/server/suunto/suunto.service.ts
  src/server/suunto/suunto.validators.ts
  test/unit/server/suunto/suunto.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.0.0-rc.9
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: add more log for external apis errors
  src/helpers/error.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.0.0-rc.10
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: incorrect Strava webhook request creation response format
  src/server/strava/strava.api.ts
  src/server/strava/strava.service.ts
  test/unit/server/strava/strava.api.spec.ts
  test/unit/server/strava/strava.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.0.0-rc.11
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: Decathlon webhook data format
  src/server/decathlon/decathlon.api.ts
  src/server/decathlon/decathlon.service.ts
  test/unit/server/decathlon/decathlon.controller.spec.ts
  test/unit/server/decathlon/decathlon.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

1.0.0-rc.12
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

use docker meta output for setting version
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint --fix --report-unused-disable-directives: any of: *.ts
  prettier --write --ignore-unknown: (any of: *.ts) or (any of: *.{json,md})
