Repository c2corg/c2c_tracking: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

Migrate
  .husky/pre-commit
  package.json
Due: prettier --write --ignore-unknown

Fix tests
  test/unit/server/activities/activity.controller.spec.ts
  test/unit/server/coros/coros.controller.spec.ts
  test/unit/server/decathlon/decathlon.controller.spec.ts
  test/unit/server/garmin/garmin.controller.spec.ts
  test/unit/server/health/health.controller.spec.ts
  test/unit/server/polar/polar.controller.spec.ts
  test/unit/server/strava/strava.controller.spec.ts
  test/unit/server/suunto/suunto.controller.spec.ts
  test/unit/server/user/user.controller.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

lint
  src/server/garmin/garmin.api.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

chore(deps-dev): bump @typescript-eslint/eslint-plugin and @typescript-eslint/parser to version 7.0.1
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix migration
  .eslintrc.cjs
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

docker compose v2
  .github/workflows/ci.yml
Due: none

bump keyv version
  package-lock.json
  package.json
  src/server/garmin/garmin.controller.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

lint
  test/unit/server/garmin/garmin.controller.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

chore: npm audit fix
  package-lock.json
Due: prettier --write --ignore-unknown

test: temporarily (?) fix minio version
  docker-compose.minio.yml
Due: none

fix: keyv signature changed
  package-lock.json
  src/server/garmin/garmin.controller.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

refactor: use helper function to instantiate keyv
  src/server/garmin/garmin.controller.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

chore(dev-deps): bump husky to v9.1.7
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: adapt configuration to new husky
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: prettier --write --ignore-unknown

fix: Strava API changed for activity streams
  src/helpers/utils.ts
  src/server/strava/strava.api.ts
  src/server/strava/strava.service.ts
  test/unit/server/strava/strava.api.spec.ts
  test/unit/server/strava/strava.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

chore(deps-dev): bump jest and @types/jest
  package-lock.json
  package.json
  test/unit/server/coros/coros.api.spec.ts
  test/unit/server/polar/polar.api.spec.ts
  test/unit/server/suunto/suunto.api.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

chore(deps): bump node from 22-slim to 24-slim
  Dockerfile
Due: none

chore(deps): go back to eslint-plugin-jest@28.x
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

2.5.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: Strava API changed for activity streams (#2406)
  src/helpers/utils.ts
  src/server/strava/strava.api.ts
  src/server/strava/strava.service.ts
  test/unit/server/strava/strava.api.spec.ts
  test/unit/server/strava/strava.service.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

2.4.2
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: use docker compose v2
  .github/workflows/ci.yml
Due: none

fix: add missing debug runtime dependency
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: CI minio registry + Strava deauthorize/subscription requests
  docker-compose.minio.yml
  src/server/strava/strava.api.ts
  test/unit/server/strava/strava.api.spec.ts
Due: eslint --fix --report-unused-disable-directives, prettier --write --ignore-unknown

fix: pull minio images from quay.io instead of Docker Hub
  docker-compose.minio.yml
Due: none

Path conditions:
  eslint --fix --report-unused-disable-directives: any of: *.ts
  prettier --write --ignore-unknown: (any of: *.ts) or (any of: *.{json,md})
